<body style="background-color: #8FD9E1">
	<div class="container">
		<div class="jumbotron" style="background-color: #fff">
			<div class="container" style="margin-top: 25px">
				<h3 class="project-name-label">Project Type : </h3>
				<h3 class="project-name">Business Research Project</h3>
				<br><br>
				<h3 class="project-name-label">Delegated by : </h3>
				<h3 class="project-name">Alliance Manchester Business School</h3>
				<br><br>
				<h3 class="project-site-label">Link to Report : </h3>
				<h3 class="project-site"><%= link_to 'Pricing Dynamics in the UK Gas Market', 'https://drive.google.com/file/d/0BxodpBIe093IRFRnR3oxclZ4Mms/view?usp=sharing', target: '_blank' %></h3>
				<h3 class="project-description-label">The Importance of this Report : </h3>
				<p style="font-family: 'Raleway-Light', sans-serif; font-size: 20px">
					As a UX designer and researcher, I will be faced with solving problems in sectors and domains I do not have previous experience in. This report on factors that influence pricing dynamics in the UK gas sector was completely alien to me when I started working on it. I had to understand the industry, improve my research and data analysis skills, come up with suggestions based on my analysis and build domain knowledge in a very limited time. The skills I honed from writing this report proves that I can learn any sector or domain quickly and efficiently.
				</p>
				<h3 class="project-description-label">Skills Used : </h3>
				<ol>
					<li style="font-family: 'Raleway-Light', sans-serif; font-size: 18px">Industry and Domain Research</li>
					<li style="font-family: 'Raleway-Light', sans-serif; font-size: 18px">Data Analysis and Visualization</li>
					<li style="font-family: 'Raleway-Light', sans-serif; font-size: 18px">Investigative Research</li>
				</ol>
				
				<h3 class="project-description-label">Content of Report : </h3>
						<ol>
							<li style="font-family: 'Raleway-Light', sans-serif; font-size: 18px">
								An in-depth study of the market dynamics that affect pricing structures in the UK gas market including wholesale costs, tariffs and transmission costs.
							</li><br>
							<li style="font-family: 'Raleway-Light', sans-serif; font-size: 18px">
								An investigative report on pricing mechanisms set by the UK gas sector influenced by aforementioned costs
							</li><br>
								<li style="font-family: 'Raleway-Light', sans-serif; font-size: 18px">
								Suggestions on how a regulating body like Ofgem can investigate the credibility of pricing structures of UK gas companies.
							</li><br>
							<li style="font-family: 'Raleway-Light', sans-serif; font-size: 18px">
								Recommendations on how the pricing structures influenced by market dynamics can be altered for the benefit of the consumer.
							</li><br>
						</ol>
			</div>
		</div>
	</div>
</body>