/** Platform Vision **/
.vision-circle-1
{
   background: #fff;
   opacity: 0.8;
   width: 200px;
   height: 200px;
   border-radius: 50%;
   margin-bottom: 20px;
   text-align: center;
   border: 5px solid #aa0000;
   font-family: 'Raleway-Medium', sans-serif;
   font-weight: bold;
   font-size: 23px;
}

.vision-circle-1 > p
{
	margin-top: 50px;
}

.vision-circle-2
{
   background: #fff;
   opacity: 0.8;
   width: 200px;
   height: 200px;
   border-radius: 50%;
   margin-bottom: 20px;
   text-align: center;
   border: 5px solid #aa0000;
   font-family: 'Raleway-Medium', sans-serif;
   font-weight: bold;
   font-size: 25px;
}

.vision-circle-2 > p
{
	margin-top: 60px;
}

.vision-circle-3
{
   background: #fff;
   opacity: 0.8;
   width: 200px;
   height: 200px;
   border-radius: 50%;
   margin-bottom: 20px;
   text-align: center;
   border: 5px solid #aa0000;
   font-family: 'Raleway-Medium', sans-serif;
   font-weight: bold;
   font-size: 25px;
}

.vision-circle-3 > p
{
	margin-top: 60px;
}

.vision-circle-4
{
   background: #fff;
   opacity: 0.8;
   width: 200px;
   height: 200px;
   border-radius: 50%;
   margin-bottom: 20px;
   text-align: center;
   border: 5px solid #aa0000;
   font-family: 'Raleway-Medium', sans-serif;
   font-weight: bold;
   font-size: 25px;
}

.vision-circle-4 > p
{
	margin-top: 40px;
}

/** End Platform Vision **/
.circular-infograph
{
  height: 0;
  position: relative;
  width:80%;
  padding-top: 100%;
}

.svgdonut
{
  width:100%;
  height:439px;
  position: absolute;
  top:0;
  left:0;
}
/* start donuts */
circle {
  fill: none;
}
.circle-back 
{
  stroke: #8E0000;
  stroke-width: 50px;
}

.circle-front-1

{
	stroke: #fff;
	stroke-width: 40px;
	/* 2 * Math.PI * radius + 1  */
	stroke-dasharray: 800px; /*629*/
	stroke-dashoffset: 439px;/*629*/
	
	-webkit-transition: stroke-dashoffset .5s ease;
	-moz-transition: stroke-dashoffset .5s ease; 
	-ms-transition: stroke-dashoffset .5s ease;
	-o-transition: stroke-dashoffset .5s ease;
	transition: stroke-dashoffset .5s ease;
}

.circle-front-2 
{
	stroke: #fff;
	stroke-width: 40px;
	/* 2 * Math.PI * radius + 1  */
	stroke-dasharray: 600px; /*629*/
	stroke-dashoffset: 539px;/*629*/
	
	-webkit-transition: stroke-dashoffset .4s ease;
	-moz-transition: stroke-dashoffset .4s ease; 
	-ms-transition: stroke-dashoffset .4s ease;
	-o-transition: stroke-dashoffset .4s ease;
	transition: stroke-dashoffset .4s ease;
}

.circle-front-3 
{
	stroke: #fff;
	stroke-width: 40px;
	/* 2 * Math.PI * radius + 1  */
	stroke-dasharray: 439px; /*629*/
	stroke-dashoffset: 439px;/*629*/
	
	-webkit-transition: stroke-dashoffset .7s ease;
	-moz-transition: stroke-dashoffset .7s ease; 
	-ms-transition: stroke-dashoffset .7s ease;
	-o-transition: stroke-dashoffset .7s ease;
	transition: stroke-dashoffset .7s ease;
}

.circle-front-4
{
	stroke: #fff;
	stroke-width: 40px;
	/* 2 * Math.PI * radius + 1  */
	stroke-dasharray: 500px; /*629*/
	stroke-dashoffset: 439px;/*629*/
	
	-webkit-transition: stroke-dashoffset .7s ease;
	-moz-transition: stroke-dashoffset .7s ease; 
	-ms-transition: stroke-dashoffset .7s ease;
	-o-transition: stroke-dashoffset .7s ease;
	transition: stroke-dashoffset .7s ease;
}

.circular-infograph.eleven-percent-filled .circle-front 
{
	/* 439 * (1 - 0.11) */
	stroke-dashoffset:390px; /* based on 439 */
}

.circle-front-2 
{
	stroke-dashoffset:390px;
}

.circle-front-3 
{
	stroke-dashoffset:390px;
}

.circle-front-4
{
	stroke-dashoffset:390px;
}

.textpercentage{
	font-family: "Oswald", sans-serif;
	font-size: 1.3em;
}
.greentext{
	fill:#000;
	font-weight: bold;
	font-family: 'Raleway-Medium', sans-serif;
}


.flex-caption {
  width: 96%;
  padding: 2%;
  left: 0;
  bottom: 0;
  background: #fff;
  border: 2px solid #000;
  border-radius: 5px;
  color: #000;
  font-family: 'Raleway-Medium', sans-serif;
  font-size: 14px;
  line-height: 18px;
}

/** START Demographics **/

//@import "compass/css3";

body
{
  font:13px/1.3 'Raleway-Bold',sans-serif;
  color:#000;
  font-weight: bold;
}

.chart{
  display:table;
  table-layout: fixed;   
  
  width:60%;
  max-width:700px;
  height:200px;
  margin:0 auto;
  
  background-image:linear-gradient(bottom, rgba(0, 0, 0, 0.1) 2%, transparent 2%);
  background-size: 100% 50px;
  background-position: left top;
  
  li
  {
    position:relative;
    display:table-cell;
    vertical-align:bottom;
    height:200px;
  }
  
  span{
    margin:0 1em;
    display: block;
    background: #00468c;
    animation: draw 1s ease-in-out;
    
    &:before{
      position:absolute;
      left:0;right:0;top:100%;
      padding:5px 1em 0;
  		display:block;
      text-align:center;
      content:attr(title);
      word-wrap: break-word;
    }
    
  }
  
}

@keyframes draw{
  0%{height:0;} 
}
/** END Demographics **/