/** About **/
.pritish-sai
{
	font-family: 'Raleway-Bold', sans-serif;
	//text-align: center;
	font-size: 35px;
}

.designation 
{
	font-family: 'Raleway-Light', sans-serif;
	//text-align: center;
	font-size: 25px;
}

.about-me
{
	font-family: 'Raleway-Light', sans-serif;
	font-size: 25px;
	color: #009ecc;
	width: 50%;
}

.opening-text
{
	margin-top: 50px;
	margin-left: 40px;
}

.skills img
{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#myNavbar
{
	text-align: center;
}

.project-title
{
	font-weight: bold;
	font-size: 20px;
}

.project-details 
{
	font-family: 'Roboto-Light', sans-serif;
	font-size: 15px;
	//ont-weight: bold;
}

.project-tools
{
	font-size: 15px;
	font-weight: bold;	
	color: #305A94;
}

.resume > a > img
{
 	width: 20%;
}

.h2-text
{
	font-family: 'Raleway-Light', sans-serif;
	font-size: 35px;
}

.header-1  a:hover
{
  background-color: #fff!important;
}

.header-1  a:active
{
  background-color: #fff!important;
}

.header-1
{
	margin-left: 20px;
}
.header-1  img
{
	width: 70%;
	//margin-right: -15px;
}

.jumbotron p
{
	font-size: 17px;
}

.navbar-brand
{
	color: #366a91!important;
	font-family: 'Raleway-Regular', sans-serif;
	margin-right: -30px;
	margin-top: -15px;
	background-color: #fff;
}

.nabvar-brand:hover
{
	background-color: #fff!important;
}

.nav-header a:hover
{
	background-color: #fff;
	font-weight: bold;
}

.navbar-toggle .icon-bar
{
	background-color: #000;
}

.personal > img
{
	width: 65%;
	//height: 85%;
	//margin-top: 20%;
	margin-left: 20px;
	border-radius: 50%;
}

.personal > a > img
{
	width: 85%;
	height: 85%;
	margin-top: -20px;
	margin-left: 20px;
}

.portfolio-container
{
	width: 90%;
	margin-left: 7%;
	margin-right: 5%;
}

#profile
{
	float: left;
	margin-top: -30px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0;

}

.project
{
	margin-top: 20px;
}

.skychaser-logo > a
{
	//font-family: 'Lato-Light', sans-serif;
	font-size: 30px;
	color: #000;
}

.skychaser-logo > a:hover
{
	text-decoration: none;
	color: #000;
}

.social img
{
	width: 5%;
	margin-right: 50px;
}
