
/** Analytics **/

.analytics-image
{
	margin-bottom: 25px;
}
.analytics
{
	font-family: 'Raleway-Regular', sans-serif;
}

.analytics-description
{
	font-family: 'Raleway-Light', sans-serif;
	font-size: 15px;
}

/** CoasterCrunch **/

.main-title
{
	font-family: 'BebasNeueRegular', sans-serif;
	font-size: 50px;
	//margin-top: 50px;
	text-align: center;
	color: #000;
	font-weight: bold;
}

.image-tagline
{
	text-align: center;
	font-style: italic;
	font-size: 15px!important;
	font-weight: none;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.image-tagline > p
{
	font-size: 10px;
	font-weight: none;
}

.affinity > img
{
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.interview > img
{
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.lofi > img
{
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.hifi > img
{
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.secondary-images-hifi > img
{
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.hifi > h5
{
	text-align: center;
	font-size: 25px;
}
.coaster-process > img
{
	display: block;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.col
{
	text-align: center;
}

.col-header
{
	text-align: center;
}

.process-description
{
	font-family: 'Lato-Light', sans-serif;
	font-size: 15px;
	line-height: 25px;
	margin-left: auto; 
	margin-right: auto; 
	width: 50%;
}

.process-subtitle
{
	font-family: 'Raleway-Light', sans-serif;
	font-size: 30px;
	//margin-top: 50px;
	text-align: center;
	color: #00B4FA;
	font-weight: bold;
}

.process-title
{
	font-family: 'BebasNeueRegular', sans-serif;
	font-size: 40px;
	//margin-top: 50px;
	text-align: center;
	color: #4273F7;
	font-weight: bold;
}



/** Web Development Projects **/

.aquamyst-landing
{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.aquamyst-landing > img
{
	width: 55%;
	float: left;
}

.aquamyst-landing > p
{
	width: 40%;
	float: left;
}

.chapter
{
	text-align:center; 
	font-family: 'BebasNeueRegular', sans-serif;
	color: #0062C2;
	font-size: 50px;
	font-weight: bold;
	margin-bottom: -10px;
}
.cem-web-image > img
{
	display: block;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	//text-align: center;
}

.cem-listing-row
{
	display: table;
}

.cem-listing > img
{
	//display: inline-block;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	//text-align: center;
	float: left;
	margin-bottom: 25px;
}

.cem-ad-row
{
	display: table;
}

.cem-ad > img
{
	//display: inline-block;
	width: 45%;
	margin-left: 50px;
	//margin-right: 15px;
	//text-align: center;
	float: left;
	//margin-bottom: 25px;
}

.dev-project-description-label
{
	font-family: 'BebasNeueRegular', sans-serif;
	font-size: 40px;
	margin-top: 50px;
	text-align: center;
	color: #252B34;
	font-weight: bold;
}

.dev-project-description
{
	font-family: 'Lato-Light', sans-serif;
	font-size: 15px;
	line-height: 25px;
	//margin-bottom: 50px;
	margin-left: auto; 
	margin-right: auto; 
	width: 50%;

}

.dev-project-description-sidetext
{
	font-family: 'Lato-Light', sans-serif;
	font-size: 15px;
	line-height: 25px;
	//margin-bottom: 50px;
	margin-left: auto; 
	margin-right: auto; 
	width: 50%;
	text-align: left;

}

.dev-project-roles
{
	text-align: center;
}
.dev-role
{
	display: inline-block;
	font-size: 30px;
	font-family: 'BebasNeueRegular', sans-serif;
	border: 1px solid #000;
	border-radius: 15px;
	padding: 15px;
	color: #0062C2;
}

.highlights
{
	color: #00BEDA;
	font-size: 30px;
	font-family: 'Raleway-Light', sans-serif;
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	width: 60%;
}

.image-notes
{
	font-style: italic; 
	font-size: 13px!important; 
	margin-left: auto; 
	margin-right: auto; 
	text-align:center;
	width: 70%;
	font-style: 'Lato-Light', sans-serif;
}

.product-history-label
{
	font-size: 'Raleway-Medium', sans-serif;
	font-size: 25px;
	margin-bottom: 50px;
}

.flex-direction-nav a 
{
	height: 50px;
}

.project-name
{
	font-family: 'Raleway-Regular', sans-serif;
	margin-left: 10px;	
	display: inline;
}

.project-name-label
{
	font-family: 'Raleway-ExtraLight', sans-serif;
	display: inline;
}

.project-title-container
{
	margin-top: 20px;
}

.project-site
{
	font-family: 'Raleway-Regular', sans-serif;
	margin-left: 10px;
	display: inline;	
}

.project-site-label
{
	font-family: 'Raleway-ExtraLight', sans-serif;
	display: inline;
}

.project-site-container
{
	margin-top: 20px;
}

.project-description
{
	font-family: 'Raleway-Regular', sans-serif;
	font-size: 15px;
	margin-bottom: 50px;
}

.project-feature
{
	font-family: 'Raleway-Regular', sans-serif;
	font-size: 15px;
}

.project-description-label
{
	font-family: 'Raleway-Medium', sans-serif;
	font-size: 25px;
	margin-top: 50px;
}

.project-evolution-label
{
	font-family: 'Raleway-Medium', sans-serif;
	font-size: 25px;
	margin-bottom: 25px;
}

.project-role-label
{
	font-family: 'Raleway-Medium', sans-serif;
	font-size: 25px;
}


.role
{
	font-family: 'Raleway-Light', sans-serif;
}
.image
{
	display: inline;
}

.wmt-iteration-1 > img
{
	width: 100%;
	margin-bottom: 50px;
}

.wmt-iteration-2 > img
{
	width: 100%;
	margin-bottom: 50px;
}

.wmt-listing-row
{
	//display: table;
	text-align: center;
}

.wmt-listing > img
{
	display: inline-block;
	width: 20%;
	//margin-left: auto;
	//margin-right: auto;
	//text-align: center;
	//float: left;
	//text-align: center;
	margin-right: 25px;
}
.wireframe-title
{
	font-family: 'Raleway-Medium', sans-serif;
	font-size: 25px;
	margin-bottom: 15px;
}

.toolbox
{
	//width: 100px;
}