
/** Analytics **/

.analytics-image
{
	margin-bottom: 25px;
}
.analytics
{
	font-family: 'Raleway-Regular', sans-serif;
}

.analytics-description
{
	font-family: 'Raleway-Light', sans-serif;
	font-size: 15px;
}

/** Product **/

.product-history-label
{
	font-size: 'Raleway-Medium', sans-serif;
	font-size: 25px;
	margin-bottom: 50px;
}

.flex-direction-nav a 
{
	height: 50px;
}

.project-name
{
	font-family: 'Raleway-Regular', sans-serif;
	margin-left: 10px;	
	display: inline;
}

.project-name-label
{
	font-family: 'Raleway-ExtraLight', sans-serif;
	display: inline;
}

.project-title-container
{
	margin-top: 20px;
}

.project-site
{
	font-family: 'Raleway-Regular', sans-serif;
	margin-left: 10px;
	display: inline;	
}

.project-site-label
{
	font-family: 'Raleway-ExtraLight', sans-serif;
	display: inline;
}

.project-site-container
{
	margin-top: 20px;
}

.project-description
{
	font-family: 'Raleway-Regular', sans-serif;
	font-size: 15px;
	margin-bottom: 50px;
}

.project-description-label
{
	font-family: 'Raleway-Medium', sans-serif;
	font-size: 25px;
	margin-top: 50px;
}

.project-evolution-label
{
	font-family: 'Raleway-Medium', sans-serif;
	font-size: 25px;
	margin-bottom: 25px;
}

.project-role-label
{
	font-family: 'Raleway-Medium', sans-serif;
	font-size: 25px;
}


.role
{
	font-family: 'Raleway-Light', sans-serif;
}
.image
{
	display: inline;
}

.wmt-iteration-1 > img
{
	width: 100%;
	margin-bottom: 50px;
}

.wmt-iteration-2 > img
{
	width: 100%;
	margin-bottom: 50px;
}

.wireframe-title
{
	font-family: 'Raleway-Medium', sans-serif;
	font-size: 25px;
	margin-bottom: 15px;
}